/* Base Styles */
body {
   font-family: 'Lato', sans-serif;
   background: url('/static/images/background.webp') no-repeat center center fixed;
   background-size: cover;
   margin: 0;
   padding-top: 5%;
   padding-left: 40px;
   padding-right: 40px;
   padding-bottom: 90px;
   overflow-x: hidden;
}

body::after {
   content: '';
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(255, 255, 255, 0.5);
   backdrop-filter: blur(1px);
   z-index: -1;
}

/* Navigation Bar */
nav {
   background-color: rgba(255, 255, 255, .80);
   /* Translucent white */
   color: #333;
   font-weight: bold;
   user-select: none;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
   overflow: hidden;
}

nav ul li {
   float: left;
}

nav ul li a {
   display: block;
   color: #333;
   text-align: center;
   padding: 14px 20px;
   text-decoration: none;
   transition: background-color 0.3s ease;
}

nav ul li a:hover {
   background-color: rgba(0, 0, 0, 0.06);
   /* Light gray on hover */
}

/* Centered Containers for Headers */
.home-container, .empty-container {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-top: calc(100% / 4 - 1em);
}

.menu-container, .cart-container, .checkout-container, .order-container, footer {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
}

/* Translucent title style */
.title, .title-empty {
   background-color: rgba(255, 255, 255, .80);
   user-select: none;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
   font-size: 2rem;
   text-transform: uppercase;
   letter-spacing: 3px;
   font-weight: bold;
}

/* Table Styles */
.cart-table {
   user-select: none;
   background-color: rgba(255, 255, 255, .80);
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   overflow: hidden;
   width: 100%;
   max-width: 600px;
   margin: 20px auto;
   border-collapse: collapse;
}

.cart-table th, .cart-table td {
   text-align: left;
   padding: 11px;
   border-bottom: 1px solid #ddd;
   vertical-align: middle;
}

.cart-table td button {
   background-color: #9ac4c2;
   color: white;
   padding: 8px 16px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   display: inline-block;
}

.cart-table td button:hover {
   background-color: #aee0df;
}

.cart-table th {
   background-color: #9ac4c2;
   color: white;
 }

 .cart-table tr:nth-child(even) {
   background-color: #f2f2f2;
 }

/* Ensure the "Checkout" button row aligns with the design */
.cart-table .checkout-btn-row td {
   text-align: right;
   padding-top: 20px;
}

.cart-table .total-cost, .cart-table .checkout-row {
   background-color: rgba(255, 255, 255, .80);
   border-top: 1px solid #ddd;
 }
 
 .cart-table .total-cost td, .cart-table .checkout-row td {
   border-bottom: none;
 }

 /* Styles for form and summary sections */
.form-container, .summary-container {
   background-color: rgba(255, 255, 255, .80);
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   padding: 20px;
   margin: 20px auto;
   width: 600px;
 }
 
 /* Style for titles within these sections */
 .section-title {
   font-size: 24px;
   color: #333;
   margin-bottom: 15px;
 }
 
 /* Style for individual items within the order summary */
 .summary-item {
   font-size: 18px;
   color: #555555;
   padding: 5px 0;
 }
 
 /* Style for the order and customer information */
 .order-info, .customer-info {
   background-color: rgba(255, 255, 255, .80);
   border-radius: 8px;
   padding: 15px;
   width: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 10px;
   user-select: none;
 }

/* Button Styles */
button, .btn-checkout {
   background-color: #9ac4c2;
   color: white;
   padding: 8px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button:hover, .btn-checkout:hover {
   background-color: #aee0df;
}

/* Form Styles */
form {
   padding: 20px;
   border-radius: 5px;
   margin-top: 15px;
}

.form-container {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
}

.checkout-form {
   display: flex;
   flex-direction: column;
   background-color: rgba(255, 255, 255, .80);
   width: auto;
   max-width: 600px;
   margin-left: auto;
   margin-right: auto;
   padding: 20px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   border-radius: 8px;
}

.checkout-form .form-row {
   margin-bottom: 15px;
   display: flex;
   justify-content: space-between;
}

.form-control {
   width: 100%;
   padding: 10px;
   margin: 5px 0;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.submit-btn {
   background-color: #9ac4c2;
   color: white;
   padding: 10px 20px;
   margin-top: 5px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   display: flex;
}

.submit-btn-container,
.checkout-form .form-row:last-child {
    display: flex;
    justify-content: flex-end;
}

.submit-btn:hover {
   background-color: #aee0df;
   color: white;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

input[type="number"] {
   user-select: none;
   padding: 10px;
   width: 10%;
   margin: auto;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.menu-item button {
   user-select: none;
   padding: 10px;
   width: 40%;
   margin-top: auto;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 5px;
}

/* Menu Item Styles */
.menu-items {
   user-select: none;
   display: grid;
   grid-template-columns: repeat(4, 1fr);
   gap: 15px;
   align-items: center;
   justify-content: space-between;
   margin-left: auto;
   margin-right: auto;
   justify-items: center;
   padding-top: 20px;
}

.menu-item {
   background-color: rgba(255, 255, 255, .80);
   /* Translucent white */
   border-radius: 5px;
   width: auto;
   height: auto;
   justify-content: fixed;
   padding: 15px 15px;
   text-align: center;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
}

.menu-item:hover {
   transform: translateY(-4px);
   /* Move the item up on hover */
}

.menu-item img {
   width: 100%;
   height: auto;
   border-radius: 5px;
}

.menu-item h2 {
   margin-top: 10px;
   font-size: 1.2rem;
}

.menu-item form {
   margin-top: 10px;
}

/* Footer */
footer {
   background-color: rgba(255, 255, 255, .80);
   /* Translucent white */
   color: #333;
   user-select: none;
   text-align: center;
   padding: 10px 0;
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   z-index: 1000;
   box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.2);
}

/* Responsive styles */
@media (max-width: 768px) {
   .menu-items {
      grid-template-columns: repeat(2, 1fr);
   }
}

@media (max-width: 480px) {
   .menu-items {
      grid-template-columns: 1fr;
   }
}