<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename = 'style.css') }}" />
    <meta charset="UTF-8" />
    <title>Pizzazz Pizza</title>
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">HOME</a>
        </li>
        <li>
          <a href="/menu">MENU</a>
        </li>
        <li>
          <a href="/cart">CART</a>
        </li>
      </ul>
    </nav>
    <div class="home-container">
      <h1 class="title">WELCOME TO PIZZAZZ PIZZA</h1>
    </div>

    <footer>&copy; 2024 PIZZAZZ PIZZA</footer>
  </body>
</html>